<main class="relative  bg-[#05010c] p-5 h-screen overflow-hidden">
    <!-- Video de fondo -->
    <video class="absolute top-0 left-0 w-full h-full object-cover " autoplay loop muted>
        <source src="/wall.mp4" type="video/mp4" />
        Tu navegador no soporta videos en HTML5.
    </video>

    <!-- Capa oscura para mejorar legibilidad -->
    <div class="absolute top-0 left-0 w-full h-full bg-[#05010c]/90 "></div>

    <!-- Contenido encima del video -->
    <div class="relative z-10 flex flex-col items-center justify-center gap-2 h-screen text-xl text-center text-white">
        <h1 class="text-6xl font-bold">
            Soluciones tecnológicas de <span class="text-[#68D8D8] italic">calidad</span>
        </h1>
        <p class="text-4xl">En tiempo <span class="text-[#68D8D8] font-bold italic">récord</span></p>
        <a class="px-6 py-2 mt-6 text-2xl border-2 border-[#68D8D8] text-[#68D8D8] rounded-2xl 
                   hover:bg-[#68D8D8] hover:shadow-2xl hover:shadow-cyan-400 hover:text-black 
                   transition duration-150 cursor-pointer">
            Conoce más
        </a>
    </div>
</main>
