
<!--
<main class="relative  bg-[#05010c] p-5 h-screen overflow-hidden">

    
    <video class="absolute top-0 left-0 w-full h-full object-cover " autoplay loop muted>
        <source src="/wall.mp4" type="video/mp4" />
        Tu navegador no soporta videos en HTML5.
    </video>

    
    <div class="absolute top-0 left-0 w-full h-full bg-[#05010c]/90 "></div>

    
    <div class="relative z-10 flex flex-col items-center justify-center gap-2 h-screen text-xl text-center text-white">
        <h1 class="text-6xl font-bold">
            Soluciones tecnológicas de <span class="text-[#68D8D8] italic">calidad</span>
        </h1>
        <p class="text-4xl">En tiempo <span class="text-[#68D8D8] font-bold italic">récord</span></p>
        <a class="px-6 py-2 mt-6 text-2xl border-2 border-[#68D8D8] text-[#68D8D8] rounded-2xl 
                   hover:bg-[#68D8D8] hover:shadow-2xl hover:shadow-cyan-400 hover:text-black 
                   transition duration-150 cursor-pointer">
            Conoce más
        </a>
    </div>
</main>
-->




<main class=" text-black mt-35  p-5 h-screen overflow-hidden max-w-[1333px] m-auto">
    <div class="flex flex-justify items-center gap-10 justify-between">
        <div class="flex flex-col gap-10 justify-start items-start ">
            <h1 class="text-5xl font-semibold">Soluciones tecnológicas de <span class="font-bold italic text-purple-800">calidad</span></h1>
            <p class="text-gray-600">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem, voluptatum fugit. Sit corporis doloremque sed provident, ut vitae ipsa repellendus accusamus fugit neque, facilis asperiores harum, voluptas amet blanditiis natus!</p>
            <button class="text-left px-10 py-2.5 text-lg rounded-full border-2 border-purple-800 hover:bg-purple-900 text-purple-800 hover:text-white  cursor-pointer transition duration-150 " >Ver más</button>
        </div>
    <div>
        <img src="/cat-4.png" width="2000px" alt="">
    </div>
</div>
<section class="flex flex-row gap-20 bg-gray-900 text-gray-400 p-10 rounded-4xl mt-14 ">
    <div>

        <div class="flex flex-row items-center gap-2 pb-5">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-purple-400 size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>

        <h2 class="text-2xl  font-bold text-gray-300">En tiempo record</h2>
    </div>
        <p class="text-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil repudiandae amet odit id.</p>
    </div>
    <div>
        <div class="flex flex-row items-center gap-2 pb-5">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-purple-400 size-6" >
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
        </svg>

            <h2 class="text-2xl  font-bold text-gray-300">Mucha facilidad</h2>
            </div>
        <p class="text-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil repudiandae amet odit id.</p>
    </div>
    <div>
        <div class="flex flex-row items-center gap-2 pb-5">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-purple-400 size-6" >
            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18 9 11.25l4.306 4.306a11.95 11.95 0 0 1 5.814-5.518l2.74-1.22m0 0-5.94-2.281m5.94 2.28-2.28 5.941" />
        </svg>

        <h2 class="text-2xl    font-bold text-gray-300">Alta calidad</h2>
        </div>
        <p class="text-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil repudiandae amet odit id.</p>
    </div>

</section>
<main/>