<main class="flex flex-col items-center justify-center gap-2 h-screen bg-[#05010c] text-xl text-center text-white ">
    <h1 class="text-6xl font-bold">Soluciones tecnologicas de <span class="text-[#68D8D8] italic">calidad</span></h1>
    <p class="text-4xl">En tiempo <span class="text-[#68D8D8] font-bold italic">record</span></p>
    <a class="px-6 py-2 mt-6 text-2xl border-2 border-[#68D8D8] text-[#68D8D8] rounded-2xl hover:bg-[#68D8D8] hover:shadow-2xl hover:shadow-cyan-400 hover:text-black transition duration-150 cursor-pointer">Conoce más</a>

</main>