---
import Servicios from "../../components/service.astro"
---
<section class="m-auto mt-20 mx-14 mb-10 ">


    <h1 class="text-7xl text-center m-20 font-semibold text-black border-b-2 sh">Servicios de primera calidad</h1>
    <div class="grid grid-cols-3 gap-3 text-center">
        <Servicios />
        <Servicios />
        <Servicios />
        
    </div>
</section>