---
import Servicios from "../../components/service.astro"
---
<section class="flex flex-row gap-50 m-auto mt-20 mx-14 mb-10 ">
    <div class="flex flex-col gap-5 max-w-[500px]">
        <h1 class="text-6xl">Your creative Design colection servicios</h1>
        <img src="/mockup1.jpg" alt="" class="rounded-3xl">
        <p class="text-gray-700 ">Lorem officia similique, odio, minima rerum, perferendis dolores ullam veritatis magni vero magnam? Debitis iure aliquam?</p>
    </div>
    <div class="max-w-[20%]">
        <h2>Servicio</h2>
        <img src="/mockup2.jpg" alt="" class="w-full rounded-3xl" >
        <p class="text-gray-700">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem, tenetur perspiciatis saepe, ex possimus doloremque eum non.</p>
    </div>


        
        
</section>